<div class="row">

  <div class="col-6 col-m-12">
    <md-sidenav-container fullscreen>

      <md-sidenav #start>
        <md-nav-list>
          <div class="side-bottom">
            <div class="example-sidenav">
              <button md-menu-item>Item1</button><br>
              <button md-menu-item>Item2</button><br>
              <button md-menu-item>Item3</button><br>
              <button md-menu-item>Item4</button>
            </div>
          </div>
        </md-nav-list>
      </md-sidenav>

      <md-toolbar>
        <div class="toolbar-icon">
          <button md-icon-button (click)="start.open()" >
            <md-icon  >menu
            </md-icon>
          </button>
        </div>

        <div class="toolbar-heading">
          Welcome!
        </div>

        <div class="toolbar-ricons" align="right">
          <app-profile></app-profile>
        </div>
      </md-toolbar> 

      <div class="col-m-7 col-s-12 col-12" align="center">
        <button md-button>GDB</button>
        <button md-button>2000</button>
        <button md-button><img src="http://icons.iconarchive.com/icons/custom-icon-design/mono-general-2/512/copy-icon.png" height="30px" color="#0f9d58"></button>
        <!-- <button md-button><i class="fa fa-files-o fa-lg" aria-hidden="true"></i></button> -->
        <button md-button>SGDB</button>

        <br>
        <br>
        <div class="mtext-area" align="center">
          <textarea style="background-color:#E7FCFC;" rows="10" cols="40">                             
          </textarea>


        </div>

        <button md-button>Go</button>
      </div>

      <!-- <div class="col-m-5 col-s-11"> -->